# Jupyter notebooks
*.ipynb

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Markdown (except README)
*.md
!README.md

# Development
.*
!.gitignore
*pycache*
